body{
background-color: aqua;
}
 #Score{
     margin-left: 250px;
     font-size: 10px;
     float:left
 } 
 #Timer {
     margin-right: 250;
     float: right
 }
 #Sketch {
     color: red;
 }